<button {{action "toggle"}} style="border:none;outline:none;background:none;padding:0;margin:0;cursor:pointer;">
  {{body-movin loop=false path='menu' autoplay=autoplay setup=(action "setup") menuState=menuState }}
</button>