<div class="container">
    <h1>Examples</h1>

    <div class="example test-local">
        <h3>Local data source</h3>
        {{#body-movin path='loading' class='loader'}}
            Fallback Goes here
        {{/body-movin}}
    </div>

    <div class="example test-local">
        <h3>Local data source</h3>
        {{body-movin path='splitzy'}}
    </div>

    <div class="example test-external">
        <h3>External data source</h3>
        {{body-movin path='//lab.nearpod.com/bodymovin/demo/pancakes/data.json' external=true renderer="canvas"}}
    </div>

    <div class="example test-external">
        <h3>Blending Modes</h3>
        {{body-movin path='//lab.nearpod.com/bodymovin/demo/blendmodes/data.json' external=true}}
    </div>

    <div class="example test-play-pause">
        <h3>Play / Pause</h3>
        {{playPause-example path='//lab.nearpod.com/bodymovin/demo/2016/data.json' external=true}}
    </div>

</div>
